/* Main Content Area */
.content-area {
  flex-grow: 1; /* Takes up all remaining space */
  padding: 20px 30px;
}

.content-area h1 {
  margin-top: 0;
  font-size: 2em;
}

.content-area p {
  color: var(--color-text-dark);
  margin-bottom: 20px;
}